.app-layout {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  gap: 2px;
  height: 100%;
}

.app-main {
  padding: 0 5px;
  overflow: auto;
}

.app-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
